body{

font-family: Arial;
margin:0;
background-image:url("https://images.unsplash.com/photo-1574629810360-7efbbe195018");
background-size:cover;
background-attachment:fixed;
color:white;

}

header{

background:rgba(0,0,0,0.7);
text-align:center;
padding:30px;

}

nav{

background:#2e7d32;
padding:10px;
text-align:center;

}

nav a{

color:white;
margin:15px;
text-decoration:none;
font-weight:bold;

}

section{

background:rgba(0,0,0,0.7);
margin:20px;
padding:20px;
border-radius:10px;

}

img{

width:300px;
border-radius:10px;
margin:10px;

}

table{

width:60%;
border-collapse:collapse;

}

th,td{

border:1px solid white;
padding:10px;
text-align:center;

}

footer{

background:#1b5e20;
text-align:center;
padding:15px;

}

button{

background:#4caf50;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;

}